wIChI/tmp/x64_Release/*.*
!wIChI/tmp/x64_Release/readme.md
wIChI/tmp/x64_Release/wIChI.tlog/
wIChI/x64_Release/*.*
!wIChI/x64_Release/readme.md
IChI_lib/tmp/x64_Release/*.*
!IChI_lib/tmp/x64_Release/readme.md
IChI_lib/tmp/x64_Release/wIChI.tlog/
IChI_lib/x64_Release/*.*
!IChI_lib/x64_Release/readme.md
.listing
.vscode/
# Ignore core dump files
core.*[0-9]
.vs/
